<% if (length === 4 ) { -%>
      <div class="col-sm-6">
<%} else if ((length % 3) === 0 || (length - index)  >= 3) { -%>
      <div class="col-sm-6 col-md-4">
<% } else { -%>
    <div class="col-sm-6">
<% } -%>
        <div class="chart-wrapper">       
          <div class="chart-title">
            <%= title %>
          </div>
          <div class="chart-stage">
              <div id="<%- 'chart-' + index -%>"></div>            
          </div>
          <div class="chart-notes">
            Fastest <%= ((fastest||[]).length > 1 ? 'are' : 'is') + ': ' + (fastest||[]).join() %>
          </div>
        </div>
      </div>